@import '../common/style/var.scss';
@import '../common/style/mixins.scss';

$divider-line-max-width: 40px;

.jh {
  &-divider {
    font-family: PingFang SC;
    font-weight: normal;
    color: $gray-1;
    padding: $padding-base 0;

    border-width: 0;
    border-color: $gray-3;
    border-style: solid;

    &--dashed {
      border-style: dashed;
    }

    @include align-center();

    &--lg {
      font-size: 14px;
      line-height: 21px;
    }

    &--sm {
      font-size: 12px;
      line-height: 17px;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      flex: 1;
      box-sizing: border-box;
      height: 1px;
      border-color: inherit;
      border-style: inherit;
      border-width: 1px 0 0;
    }

    // &::before {

    // }

    // &::after {
    //   margin: 0 0 0 $margin-lg;
    // }

    &--left::before, &--right::after {
      max-width: $divider-line-max-width;
    }

    &--pure::before, &--pure::after {
      border-width: 0;
    }

    &--slot {
      margin: 0 $margin-lg;

      &:empty {
        margin: 0;
      }
    }
  }
}
